/* .App {
  background-color:linear-gradient(to right, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0))
} */
/* -----------------topicquize page------------- */
.topicdiv{
  background-color:rgb(27,169,76)
}
.topicdivh1:hover{
  font: weight 600px;;
  font-size:larger;
  /* font-style:italic; */
  color:rgb(154, 87, 87)
}


/* ----------   anwer tag     ------------- */
.hoverOption:hover{
 font-weight: bold
}

/*  */
.li-option-tag{
  list-style-type: none;
}